{% macro small_jumbotron(title, text, button_text) %}
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>{{ title }}</h2>
            <p>{{ text }}</p>
            <button class="btn btn-outline-light" type="button">{{ button_text }}</button>
        </div>
    </div>
{% endmacro %}