{# Every page extending this layout will share this same code #}
{% extends 'base.html.twig' %}

{# From bas.html.twig #}
{% block body %}

    <div class="base-layout container-fluid p-0">
        <div class="d-flex flex-column">
            {% block helloblock %}{% endblock %}
            <div class="mb-5">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {# this component will be in every pages who extend this layout #}
    {% include './_components/_bob_global_component.html.twig' %}
{% endblock %}
